/* ###########################################################################################
######################################## SMARTPHONE ##########################################
############################################################################################ */
header {
	background-color: #EF6A39;
	padding: 2px;
	padding: auto;

} 

header nav li {
	display: inline;
	list-style: none;
	padding: 0 px;
}

a nav {
	display: inline;

}

header nav li a {
	color: white;
}

.nav_top {
	vertical-align: middle;
}

/*.left-block,
.map-block,
.right-block {
	display: inline-block;
	width: 100%;
}*/
.block {
	display: block;
	margin-left: 25px;
	padding-left: 60px;
}

.button1 {
	background: #4183d7;
	color: white;
	height: 40px;
}

.button2 {
	background: white;
	color: white;
	height: 40px;
	text-align: center;
}

a {
    text-decoration: none;
}

.nav_region li {

}

div nav li {
	list-style: none;
	text-align: right;
}

div p {
	text-align: center;
}

footer {
	background-color: #474747;

}
.nav_footer {
	display: inline-block;
	color: white;
	padding: 0%;
	list-style: none;
	margin-right: 80px;
}

.right-block {
	display: none;
}

/* ###########################################################################################
######################################## tablets #############################################
############################################################################################ */

@media screen and (min-width: 450px) {

/*.left-block,
.map-block,
.right-block {
	display: inline-block;
	width: 70%;
	margin: 0 auto;
}*/
.block {
	display: block;
	margin-left: 25px;
	padding-left: 60px;
}

.list-region-mobile {
	display: none;
	text-align: center;
}

.right-block {
	display: none;
}
}

/* ###########################################################################################
######################################## Desktop #############################################
############################################################################################ */

@media screen and (min-width: 900px) {

.block {
	display: inline-block;
	margin-left: 25px;
	padding-left: 60px;
}

.list-region-mobile {
	display: block;
	text-align: center;
}

/*.container {
  width: 70%;
  margin: 0 auto;
}*/
}